@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Coloco 8px para remover com margem negativa no main */
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
}

::-webkit-scrollbar-thumb:hover {
  visibility: hidden;
}
