@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilizar a barra de rolagem como no WhatsApp Web */
::-webkit-scrollbar {
  width: 10px; /* Barra de rolagem fina */
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* Cor da barra (cinza claro) */
  border-radius: 10px; /* Barra arredondada */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #52525b; /* Cor ao passar o mouse (um pouco mais claro) */
}
